.App{
  background-color: whitesmoke;
  min-height: 100vh;
}

.AppContent{
  margin: 0% 23% 0% 23%;
  padding: 1% 2% 1% 2%;
  background-color: white;
  min-height: 100vh;
}


@media screen and (max-width: 900px) {
  .AppContent{
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (max-width: 600px) {
  .AppContent{
    margin: 2%;
  }
}