.categoryLists{
    display: flex;
    flex-direction: row;
}

.categoryList{
    width: 33%;
}

/* @media screen and (max-width: 900px) {
    .AppContent{
      margin-left: 20%;
      margin-right: 20%;
    }
  }
   */
  @media screen and (max-width: 600px) {
    .categoryLists{
        flex-direction: column;
    }
    .categoryList{
        width: 100%;
    }
  }